x-superset-user: &superset-user root
x-superset-volumes: &superset-volumes
  - ./docker:/app/docker
  - ./docker/superset_config.py:/app/pythonpath/superset_config.py
services:
  db:
    image: postgres:14
    container_name: postgres_container
    ports:
      - 5000:5432 
    environment:
        POSTGRES_DB: db_postgres
        POSTGRES_USER: db_user
        POSTGRES_PASSWORD: db_password
        LANG: en_US.UTF-8
        LC_ALL: en_US.UTF-8
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/airflow_init.sql:/docker-entrypoint-initdb.d/airflow_init.sql
      - ./postgres/superset_init.sql:/docker-entrypoint-initdb.d/superset_init.sql
    networks:
      - my-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U amine -d db_postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  af:
    container_name: airflow_container 
    image: apache/airflow:3.1.2rc1-python3.13
    ports:
      - 8000:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow10@db:5432/airflow_db
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./scrape_data:/opt/airflow/scrape_data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my-network
    command: >
      bash -c "
        airflow db migrate && airflow standalone";

  dbt:
    container_name: dbt_container
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    volumes:
        - ./dbt/my_project:/usr/app
        - ./dbt/:/root/.dbt
    working_dir: /usr/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my-network
    entrypoint: ["tail", "-f", "/dev/null"]


  superset-init:
    image: apache/superset:3.0.2
    container_name: superset_init
    command: ["/app/docker/docker-init.sh"]
    env_file:
      - path: docker/.env # default
        required: true
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    environment:
      DATABASE_DB: "superset_db"
    healthcheck:
      disable: true
    networks:
      - my-network

  superset:
    env_file:
      - path: docker/.env # default
        required: true
    image: apache/superset:3.0.2
    container_name: superset_app
    command: ["/app/docker/docker-bootstrap.sh", "app"]
    restart: unless-stopped
    ports:
      - 8088:8088
    user: *superset-user
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes
    environment:
      DATABASE_DB: "superset_db"
    networks:
      - my-network




  
  redis:
    image: redis:7
    container_name: superset_cache
    restart: unless-stopped
    ports:
      - 6379:6379
    healthcheck:  
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis:/data
    networks:
      - my-network


networks:
  my-network:
    driver: bridge

volumes:
  redis:
    external: false
